demo/Watson AlchemyLanguage Connector Demo/src/main/app/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:watson-alchemy-language="http://www.mulesoft.org/schema/mule/watson-alchemy-language" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/watson-alchemy-language http://www.mulesoft.org/schema/mule/watson-alchemy-language/current/mule-watson-alchemy-language.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <watson-alchemy-language:watson-alchemylanguage-config name="Watson_AlchemyLanguage_Service__Watson_AlchemyLanguage_Configuration" apiKey="${watson.apikey}" doc:name="Watson AlchemyLanguage Service: Watson AlchemyLanguage Configuration"/>
    <flow name="Get_Entities_Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="get-entities" allowedMethods="GET" doc:name="HTTP"/>
        <watson-alchemy-language:entities config-ref="Watson_AlchemyLanguage_Service__Watson_AlchemyLanguage_Configuration" source="#[message.inboundProperties.'http.query.params'.source]" doc:name="Get Entities"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="Get_Combined_Results_Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/get-combined-results" doc:name="HTTP"/>
        <watson-alchemy-language:combined-call config-ref="Watson_AlchemyLanguage_Service__Watson_AlchemyLanguage_Configuration" source="#[message.inboundProperties.'http.query.params'.source]" doc:name="Get Combined Results"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
